@font-face {
	font-family: "Ubuntu Regular";
	src: url("../fonts/Ubuntu/Ubuntu-Regular.eot");
	src: url("../fonts/Ubuntu/Ubuntu-Regular.eot?#iefix") format("embedded-opentype"),
			 url("../fonts/Ubuntu/Ubuntu-Regular.woff") format("woff"),
			 url("../fonts/Ubuntu/Ubuntu-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "Ubuntu Bold";
	src: url("../fonts/Ubuntu/Ubuntu-Bold.eot");
	src: url("../fonts/Ubuntu/Ubuntu-Bold.eot?#iefix") format("embedded-opentype"),
			 url("../fonts/Ubuntu/Ubuntu-Bold.woff") format("woff"),
			 url("../fonts/Ubuntu/Ubuntu-Bold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
