@media screen and (max-width: 1280px) {
header .container {
    padding: 0 20px;
    margin-top: 28px;
    margin-bottom: 28px;
}
.main {
    padding-top: 116px;
    padding-bottom: 164px;
}
.slick-next {
    right: 60px !important;
}
.slick-prev {
    left: 60px !important;
}
.about-zone .container .about-text p {
    font-size: 18px;
    line-height: 25px;
    padding: 0 5px;
}
}

@media screen and (max-width: 1249px) {
/*HOMEVARIABLES*/

.home-variables .container .variables-column {
    justify-content: center;
}

/*HOMEVARIABLES*/
}

@media screen and (max-width: 1168px) {

/*MAIN*/
.main .form-content {
    margin-left: 0;
}
.main .container {
    justify-content: center;
}
.main .container .advantage:last-child span {
    margin: 0 auto;
    margin-bottom:30px;
}
.main .container h1 {
    font-size: 45px;
}
.main .container .advantage span {
    font-size: 20px;
}
.main .form-content {
    margin-left: 60px;
}
/*MAIN*/

/*TOUR*/
.tour-room_content {
    justify-content: center;
}
.tour-room_content_small {
    flex-direction: row;
}
.tour-room_content_small .tour-room_content_unit {
    height: 50%;
}
.tour .container {
    max-width: 737px;
}
.tour-room_content_small {
    margin-top: 13px;
}
.tour-room_content_small a:nth-child(1) {
    margin-right: 13px;
    margin-bottom: 0;
}
/*TOUR*/
.tour-room_content_big {
    width: 100%;
     margin-right: 0; 
}
.tour-room_content_small {
    width: 100%;
}
.tour p.top-title {
     margin-top: 0; 
     margin-bottom: 0;
     text-align: left; 
}
.tour p.top-title br {
    display: none;
}
.tour-block {
    margin-top: -235px;
}
.tour-block p br {
    display: none;
}
.tour-block p br.mobile_visible {
    display: block;
}
/*TOUR*/

/*PLAN3D*/
.plan3d .container img {
    max-width: 700px;
    max-height: 616px;
    width: 100%;
    height: 100%;
}
/*PLAN3D*/
}

@media screen and (max-width: 1160px) {

/*ADVANTAGES*/
.advantage-part {
    margin-bottom: 40px;
}
/*ADVANTAGES*/

}

@media screen and (max-width: 1157px) {
/*Отступ который мешает сдвигу*/
.tour-room_content_big {
    margin-right: 0;
}    
}

@media screen and (max-width: 1124px) {
    .about-zone .container .about-text {
        flex-direction: column;
        margin-bottom: 49px;
    }
.about-zone .container .about-text_left {
    margin-bottom: 50px;
}
.about-zone .container .about-text_left br {
    display: none;
}
.about-zone .container .about-text_right {
    margin-bottom: 50px;
}
.about-zone .container .about-text_right br {
    display: none;
}






}

@media screen and (max-width: 1106px) {
/*COMMENT*/

br.mobile {
    display: block;
}
.comment .container h2 {
    line-height: 35px;
}
.comment .comment-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.comment .comment-content p br {
    display: none;
}
.comment .comment-content img {
    width: 261px;
    height: 311px;
    margin-right: 0;
    margin-bottom: 30px;
}
.comment .container {
    max-width: 570px;
}
.comment .comment-content span.name {
    text-align: center;
}
.comment .comment-content span.profession {
    text-align: center;
}
.comment .comment-content p {
    line-height: 30px;
}
/*COMMENT*/
}

@media screen and (max-width: 1098px) {
footer p.copyright {
    margin: 0 auto;
}
footer p.copyright br {
    display: none;
}
footer .container {
    max-width: 700px;
    justify-content: center;
}
footer .menu {
    display: flex;
    flex-direction: row;
    padding: 30px 30px;
}
}

@media screen and (max-width: 1039px) {
header .menu {
    display: none;
}
.header__burger {
    display: flex;
}
.header__burger {
    display: block;
    width: 38px;
    height: 25px;
    position: relative;
}
.header__burger span:nth-child(1) {
    top: 0;
}
.header__burger span:nth-child(2) {
    top: 10px;
}
.header__burger span:nth-child(3) {
    top: 20px;
}
.header__burger span {
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: #222;
    -webkit-transition: background-color .3s ease-in-out;
    -o-transition: background-color .3s ease-in-out;
    transition: background-color .3s ease-in-out;
}
.nav__mobile__close {
    cursor: pointer;
    position: absolute;
    top: 23px;
    right: 15px;
    width: 38px;
    height: 25px;
}
.nav__mobile__close span {
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: #42024e;
}
.nav__mobile__close span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 10px;
}
.nav__mobile__close span:nth-child(2) {
    top: 10px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.nav__mobile {
    font-family: Montserrat Regular;
    font-size: 25px;
    line-height: 25px;
    -webkit-transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
    transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
    opacity: 0;
    visibility: hidden;
    z-index: 11;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #42024e;
    font-weight: 700;
}
.nav__mobile--shown {
    opacity: 1;
    visibility: visible;
}
.nav__mobile__unit {
    margin-bottom: 30px;
    -webkit-transition: color .3s ease-in-out;
    -o-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out;
}
a {
    background-color: transparent;
}

a {
    text-decoration: none;
    color: inherit;
}
.nav__mobile__unit:last-child {
    margin-bottom: 0;
}
}

@media screen and (max-width: 920px) {
.contacts .container .contacts-content {
    padding: 58px 38px 60px 44px;
    max-width: 555px;
    max-height: 384px;
    position: static;
    margin: 0 auto;
}
.contacts .contacts-content .mini-block_last {
    flex-direction: column;
    align-items: center;
}
.contacts .contacts-content .mini-block_last a button {
    margin-top: 15px;
}
.contacts .container {
    position: relative;
    padding: 0 0px;
    max-width: 320px;
}
.contacts .container .contacts-content .mini-block {
    text-align: center;
}

.contacts .container h2 {
    margin-top: 45px;
    margin-bottom: 0;
}
.contacts .contacts-content .mini-block_last a button {
    margin-left: 0px;
}
.contacts #map {
    height: 380px;
    margin-top: 40px;
}



}

@media screen and (max-width: 887px) {
.main .form-content {
    margin-left: 0px;
}
}

@media screen and (max-width: 702px) {
.main {
    padding-top: 36px;
    padding-bottom: 84px;
}
.main .container h1 {
    font-size: 45px;
}
.main .container .advantage span {
    color: #474747;
    font-family: Montserrat Regular;
    font-size: 20px;
}

.main .container .advantage:nth-last-child(3) img {
    width: 93px;
    height: 33px;
}
.main .container .advantage:nth-last-child(2) {
    margin-bottom: 19px;
}
.main .container .advantage:nth-last-child(2) img {
    width: 60px;
    height: 57px;
}
header .header-contacts {
    padding: 0 20px;
}
}
@media screen and (max-width: 646px) {
/*HOMEVARIABLES*/
.home-variables .container .variables-part {
    justify-content: center;
}
/*HOMEVARIABLES*/
}

@media screen and (max-width: 641px) {

/*TOUR*/
.tour-room_content_small {
    flex-direction: column;
}
.tour-block {
    margin-top: 0; 
}
.tour-room_content_small {
}
.tour-room_content_small .tour-room_content_unit {
    height: 100%;
}
.tour-room_content_small {
    height: 706px;
}
.tour-room_content_small {
    /*height: 1056px;*/
    width: 100%;
    flex-direction: column;
}
.tour-room_content_small a:nth-child(1) {
    margin-right: 0;
    margin-bottom: 13px;
}
.tour-room_content_big {
    height: 346px;
}
.tour-block {
    margin-top: 30px;
}
/*TOUR*/

/*3DPLAN*/
.plan3d .container img {
    max-width: 400px;
    max-height: 316px;
    width: 100%;
    height: 100%;
}
/*3DPLAN*/

/*ADVANTAGES*/
.advantages-apartment .advantage-image {
    margin: 0 10px;
    width: 190px;
    height: 170px;
}
.advantages-apartment span {
    left: 50%;
    transform: translate(-50%, -15%);
    font-size: 12px;
    line-height: 18px;
}
.advantages-apartment .container h2 {
    line-height: 35px;
}
/*ADVANTAGES*/

}

@media screen and (max-width: 622px) {
footer .menu {
    display: flex;
    flex-direction: column;
    padding: 30px 30px;
}
footer .container {
    display: flex;
    flex-direction: column;
}
footer .menu a {
    margin-right: 0px;
    text-align:center;
}





}

@media screen and (max-width: 537px) {
header .container {
    padding: 0 20px;
    margin-top: 8px;
    margin-bottom: 8px;
}
header .logo img {
    width: 185px;
    height: 35px;
}
header a.header-number {
    font-size: 14px;
}
header a.header-call {
    font-size: 14px;
}
.main .container h1 {
    font-size: 35px;
}
.main .container .advantage span {
    font-size: 16px;
}
.main .container .advantage:nth-last-child(3) {
    margin-bottom: 23px;
}
.home-variables .container h2 {
    line-height: 35px;
}
.about-zone .container .about-text p {
    font-size: 15px;
}
.about-zone .container .about-text {
    margin-bottom: 3px;
}
}


@media screen and (max-width: 471px) {

/*TOUR*/
.tour p.top-title {
    font-size: 16px;
    padding: 29px 32px 32px 27px;
}
.tour-block p {
    font-size: 14px;
}
.tour h2 {
    font-size: 22px;
}
/*TOUR*/

/*PLAN3D*/
.plan3d .container h2 {
    font-size: 22px;
}
/*PLAN3D*/

/*ADVANTAGES*/
.advantages-apartment .container h2 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 43px;
    color: #474747;
    font-family: Montserrat Regular;
    font-size: 22px;
}
.advantages-apartment .advantage-image {
    margin: 0 10px;
    width: 140px;
    height: 140px;
}
.advantages-apartment .advantage-mass {
    margin-bottom: 0px; 
}
.advantages-apartment span {
    font-size: 11px;
}
/*ADVANTAGES*/

/*HOMEPLAN*/
.homemap .container h2 {
    margin-top: 10px;
    margin-bottom: 43px;
    font-size: 22px;
}
/*HOMEPLAN*/

/*COMMENT*/
.comment .container h2 {
    font-size: 22px;
}
/*COMMENT*/
}

@media screen and (max-width: 431px) {
header .logo img {
    width: 135px;
    height: 25px;
}
header a.header-number {
    font-size: 12px;
}
header a.header-call {
    font-size: 12px;
}
.main .container h1 {
    font-size: 25px;
}
.main .container .advantage span {
    font-size: 12px;
}
.main .container .advantage:nth-last-child(3) img {
    width: 63px;
    height: 23px;
}
.main .container .advantage:nth-last-child(2) img {
    width: 50px;
    height: 47px;
}
.main .form-content p {
    font-size: 14px;
    margin-bottom: 15px;
}
.main .form-content {
    padding: 15px 10px 18px 10px;
}
.main .form-content form ul li label {
    text-align: center;
    font-size: 12px;
}
.main .form-content form ul li input {
    width: 280px;
    height: 38px;
    padding: 0 10px;
    margin: 0 auto;
}
.main .form-content form ul li.button-form button {
    font-size: 14px;
    line-height: 40px;
}
.main .form-content form ul li.button-form {
    width: 280px;
    height: 40px;
}
/*MAIN*/

/*COMMENT*/
.comment .comment-content p {
    line-height: 20px;
    font-size: 14px;
}
/*COMMENT*/
}

@media screen and (max-width: 374px) {
/*HOMEVARIABLES*/
.home-variables .container h2 {
    margin-top: 0px; /*del*/
    margin-bottom: 23px;
    font-size: 22px;
    line-height: 35px;
}
.home-variables .container .variable span.opinion {
    font-size: 16px;
}
/*HOMEVARIABLES*/

/*ABOUTZONE*/
.about-zone .container h2 {
    padding-top: 24px;
    margin-bottom: 27px;
    text-align: center;
    font-size: 22px;
    line-height: 35px;
}
/*ABOUTZONE*/

/*CONTACTS*/
.contacts .container h2 {
    font-size: 22px;
}
.contacts .container .contacts-content {
    padding: 18px 38px 60px 44px;
}
/*CONTACTS*/
}

@media screen and (max-width: 361px) {

/*HEADER*/
header .logo img {
    width: 105px;
    height: 25px;
}
header .container {
    padding: 0 10px;
}
/*HEADER*/

/*ADVANTAGES*/
.advantages-apartment .advantage-image {
    margin: 0 10px;
    width: 120px;
    height: 120px;
}
.advantages-apartment .container h2 {
    font-size: 18px;
    line-height: 25px;
}
.advantages-apartment span {
    transform: translate(-50%, -15%);
    font-size: 8px;
    line-height: 13px;
}
/*ADVANTAGES*/

/*HOMEMAP*/
.homemap .container h2 {
    margin-top: 10px;
    margin-bottom: 23px;
    font-size: 18px;
}
/*HOMEMAP*/

/*COMMENT*/

/*COMMENT*/

/*HOMEVARIABLES*/
.home-variables .container .variable {
    margin: 20px 0;
}
/*HOMEVARIABLES*/
}

@media screen and (max-width: 321px) {
.tour p.top-title {
    font-size: 16px;
    padding: 29px 12px 32px 7px;
}















}