/*DEFAULT SETTINGS*/ 
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Nunito", sans-serif;
}
button {
	cursor: pointer;
	background: transparent;
	display: inline-block;
	border: 0;
}
input:focus, button:focus, a:focus {
	outline: 0;
	border: 0;
}
body {
	border-right: 1px solid white;
	font-size: 18px;
	min-width: 320px;
	position: relative;
	line-height: 1.2em;
	overflow-x: hidden;
	color: #fffefe;
	background-color: #202342;
}
.flex-active {
	display: flex !important;
}
.overflow-hidden {
	overflow-y: hidden;
}
.menu-hamburger {
	display: none;
}
a {
	color: #fff;
	text-decoration: none;
	transition: 0.4s;
}
.popup-token__list {
	scrollbar-width: none; /* firefox */
}
.popup-token__list::-webkit-scrollbar { /* webkit */
	width: 0;
	height: 0;
}
/*SCROLLBAR*/
.mCSB_dragger_bar {
	background: #7ac143 !important;
	width: 2px !important;
}
.mCSB_draggerRail {
	background: #464a70 !important;
	width: 2px !important;
}
/*SCROLLBAR END*/

/*HIDE ARROWS*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type=number] {
	-moz-appearance: textfield;
}
/*HIDE ARROWS END*/

.container {
	border-right: 1px solid yellow;
	border-left: 1px solid yellow;
	max-width: 1138px;
	width: 100%;
	margin: 0 auto;    
}
ul {
	list-style: none;
}
.starky-button {
	border-radius: 0px 50px 50px 50px;
	text-transform: uppercase;
	color: white;
	font-weight: 400;
}
h1 {
	font-size: 85px;
	font-weight: 900;
	line-height: 72px;
}
h2 {
	font-size: 65px;
	font-weight: 700;
	line-height: 55px;
}
.starky-info-element {
	width: 100%;
	background-color: #464a70;
	border-radius: 20px;
}
.list-arrow-icon:after {
	content: ' ';
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 4px;
	/*right: -18px;*/
	width: 8px;
	height: 4px;
	background: url("../img/list-arrow-icon.svg") no-repeat 100% 100%/100%;
}
.trade-swap-images {
	display: none;
}
.trade-liquidity-images {
	display: none;
}
/*STYLES END*/

/*HEADER*/
header {
	padding-top: 22px;
}
#header-background {
	width: 1116px;
	height: auto;
	position: absolute;
	top: -10px;
	right: -50px;
	z-index: -1;
}
header .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.header-left {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo {
	margin-right: 33px;
}
.logo img {
	margin-right: 7px;
	margin-bottom: 11px;
}
.logo a {
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: #9ca9b8;
	font-size: 25px;
	font-weight: 800;
}
.text__blue {
	color: #1ac4ff !important;
}
.menu {
	width: 597px;
	margin-right: 89px;
}
.menu ul li:hover .submenu {
	display: flex !important;
}

.menu .submenu {
	display: none;
}
.menu .submenu {
	left: -18px;
}
.menu ul {
	display: flex;
	justify-content: space-between;
}
.menu li {
	position: relative;
}
.menu li:after {
	right: 0px;
	cursor: pointer;
}
.menu .submenu li:hover a {
	color: #7ac143;
}
.menu a {
	padding-right: 10px;
	padding-bottom: 10px;
	font-size: 16px;
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 600;
}
.menu a:hover {
	color: #7ac143;
}
.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
	background: white !important;
}
.menu-hamburger__container {
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.menu-hamburger__list {
	position: absolute;
	z-index: 2;
	border-radius: 0px 20px 20px 0px;
	background-color: #202342;
	width: 300px;
	top: 0;
	left: 0;
	overflow-y: scroll;
	padding: 40px 30px;
	height: 100%;
	max-height: 100vh;
}
.menu-hamburger li {
	position: relative;
	display: flex;
	flex-direction: column;
}
.menu-hamburger li a {
	width: 100%;
	padding: 10px 0;
}
.menu-hamburger li:after {
	display: none;
}
.menu-hamburger li .submenu {
	display: none;
}
.menu-hamburger__box {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.submenu-button {
	width: 20px;
	height: 20px;
	background: url("../img/list-arrow-icon.svg") no-repeat 60% 50%/50%;
}
.menu-hamburger__background {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #030104;
	opacity: 0.5;
	top: 0;
	left: 0;
	z-index: 1;
}
.submenuActive {
	display: flex !important;
}
.hamburger-submenu {
	display: none;
	flex-direction: column;
	padding: 0 0 0 20px !important;
}
.menu-open {
	display: flex;
}




.header-right {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.balance {
	margin-right: 15px;
}
.balance-number {
	color: #7ac143;
	font-weight: 700;
	font-family: "Montserrat", sans-serif;
	position: relative;
}
.balance-number:before {
	content: " ";
	background: url("../img/balanceIcon.png") no-repeat 100% 100%/100%;
	position: absolute;
	left: -31px;
	top: 0;
	width: 22px;
	height: 22px;
}
.connect-button {
	font-size: 14px;
	margin-right: 12px;
	min-width: 125px;
	max-width: 125px;
	height: 48px;
	line-height: 48px;
	background-color: #1ac4ff;
	font-family: 'Nunito Sans', sans-serif;
}
.language-select *,
.submenu * {
	font-size: 14px;
	font-weight: 500;
	font-family: "Montserrat", sans-serif;
	cursor: pointer;
}
.language-select {
	padding-left: 28px;
	position: relative;
	padding-bottom: 12px;
	margin-top: 10px;
	cursor: pointer;
}
.language-select__list.submenu {
	display: none;
}
.language-select__list li {
	transition: 0.4s;
}
.language-select__list li:hover {
	color: #7ac143;
}
.language-select:hover .language-select__list {
	display: flex;
}
.language-select__selected {
	position: relative;
	padding-right: 20px;
	display: inline-block;
}
.language-select__selected:before {
	content: ' ';
	position: absolute;
	top: 0px;
	left: -28px;
	width: 20px;
	height: 20px;
	background-color: #7ac143;
	background: url("../img/language-icon.png") no-repeat 100% 100%/100%;
}
.submenu {
	position: absolute;
	top: 33px;
	left: 8px;
	display: flex;
	flex-direction: column;
}
.submenu li {
	padding: 11px 20px;
	background: #464a70;
	border-bottom: 1px solid black;
}
.submenu li:first-child {
	border-radius: 15px 15px 0 0;
}
.submenu li:last-child {
	border-radius: 0 0 15px 15px;
	border-bottom: none;
}
/*HEADER END*/

/*STARKY SWAP*/
.starky-swap {
	padding-top: 110px;
	padding-bottom: 110px;
}
#sky-blue {
	position: absolute;
	top: 0;
	right: 0;
	z-index: -1;
	width: 975px;
	height: auto;
}
#kitty-blue {
	position: absolute;
	top: 168px;
	right: 321px;
	z-index: -1;
	width: 665px;
	height: auto;
}
.starky-swap .container {
	display: flex;
	flex-direction: column;
}
.starky-swap h1 {
	padding-bottom: 16px;
}
.starky-swap p {
	font-size: 22px;
	font-weight: 700;
	padding-bottom: 43px;
}
.starky-swap h3 {
	font-size: 32px;
	font-weight: 900;
	padding-bottom: 24px;
}
.farms-staking__block {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 490px;
}
.farms-staking__element {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 115px;
	margin-bottom: 10px;
	padding: 15px 31px 15px 21px;
}
.farms-staking__element:last-child {
	margin-bottom: 0px;
}
.farms-staking__element img {
	margin-right: 24px;
}
#starky-to-harvest img {
	width: 79px;
	height: auto;
}
#starky-in-wallet img {
	width: 81px;
	height: auto;
}
.farms-staking__element__title {
	font-size: 22px;
	font-weight: 700;
	font-family: "Nunito Sans", sans-serif;
}
.farms-staking__element__species {
	display: flex;
	align-items: center;
}
.farms-staking__element__balance {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	padding-left: 10px;
	padding-top: 18px;
}
.farms-staking__element__balance__number {
	color: #7ac143;
	font-size: 26px;
	font-family: "Nunito Sans", sans-serif;
	font-weight: 700;
}
.farms-staking__element__balance__status {
	font-size: 16px;
	padding-top: 4px;
}
.farms-staking__button {
	width: 285px;
	height: 69px;
	background-color: #7ac143;
	font-size: 18px;
	margin-top: 10px;
}
/*STARKY SWAP END*/

/*STARKY STATS*/
.starky-stats {
	padding-bottom: 15px;
}
.starky-stats h2 {
	padding-bottom: 55px;
}
.starky-stats__block {
	display: flex;
	align-items: center;
}
.starky-stats__element {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	max-width: 200px;
}
.starky-stats__element img {
	margin-bottom: 16px;
}
.starky-stats__element__title {
	font-family: "Nunito Sans", sans-serif;
	color: #1ac4ff;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.starky-stats__element__number {
	font-family: "Nunito Sans", sans-serif;
	font-size: 22px;
	font-weight: 700;
}
#market-cap {
	margin-left: 60px;
}
#total-minted {
	margin-left: 111px;
}
#total-burned {
	margin-left: 101px;
}
#circulating-supply {
	margin-left: 83px;
}
#new-starky-block {
	margin-left: 62px;
}
#market-cap:before {
	content: ' ';
	position: absolute;
	left: -23px;
	top: -15px;
	width: 149px;
	height: 121px;
	z-index: -1;
	background-color: #464a70;
	background: url("../img/market-capBackground.png") no-repeat 100% 100%/100%;
}
#total-minted:before {
	content: ' ';
	position: absolute;
	left: -15px;
	top: -15px;
	width: 149px;
	height: 133px;
	z-index: -1;
	background-color: #464a70;
	background: url("../img/total-mintedBackground.png") no-repeat 100% 100%/100%;
}
#total-burned:before {
	content: ' ';
	position: absolute;
	left: -6px;
	top: -17px;
	width: 129px;
	height: 159px;
	z-index: -1;
	background-color: #464a70;
	background: url("../img/total-burnedBackground.png") no-repeat 100% 100%/100%;
}
#circulating-supply:before {
	content: ' ';
	position: absolute;
	left: 0px;
	top: -9px;
	width: 170px;
	height: 132px;
	z-index: -1;
	background-color: #464a70;
	background: url("../img/circulating-supplyBackground.png") no-repeat 100% 100%/100%;
}
#new-starky-block:before {
	content: ' ';
	position: absolute;
	left: 16px;
	top: -15px;
	width: 175px;
	height: 138px;
	z-index: -1;
	background-color: #464a70;
	background: url("../img/new-starky-blockBackground.png") no-repeat 100% 100%/100%;
}
/*STARKY STATS END*/

/*TOTAL VALUE*/
.total-value {
	position: relative;
	padding-top: 153px;
	padding-bottom: 183px;
}
.total-value__block {
	padding-right: 67px;
}
#sky-yellow {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -2;
	width: 913px;
	height: auto;
}
#kitty-yellow {
	position: absolute;
	top: 79px;
	left: 379px;
	z-index: -1;
	width: 479px;
	height: auto;
}
.total-value .container {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.total-value h2 {
	padding-right: 118px;
	padding-bottom: 10px;
}
.total-value .subtitle {
	display: block;
	font-size: 65px;
	font-weight: 700;
	line-height: 75px;
	padding-bottom: 20px;
}
.total-value__element {
	width: 490px;
	height: 145px;
	border-radius: 20px;
	background-color: #464a70;
	padding: 16px 40px;
	display: flex;
	flex-direction: column;
	position: relative;
}
.total-value__element:before {
	content: " ";
	background:  url("../img/total-value-element.png") no-repeat 100% 100%/100%;
	position: absolute;
	top: 64px;
	right: -45px;
	width: 180px;
	height: 164px;
}
.total-value__element__number {
	font-size: 60px;
	color: #7ac143;
	font-family: "Nunito Sans", sans-serif;
	font-weight: 900;
	line-height: 75px;
}
.total-value__element__text {
	font-family: "Nunito Sans", sans-serif;
	font-weight: 700;
	font-size: 22px;
}
/*TOTAL VALUE END*/

/*ANNOUNCEMENTS*/
.announcements {
	padding-top: 75px;
	position: relative;
	padding-bottom: 128px;
}
#sky-green {
	position: absolute;
	top: -120px;
	right: 0;
	z-index: -2;
	width: 962px;
	height: auto;
}
#kitty-green {
	position: absolute;
	top: 146px;
	right: 285px;
	z-index: -1;
	width: 705px;
	height: auto;
}
.announcements h2 {
	padding-bottom: 21px;
}
.announcements-twitter {
	width: 485px;
	height: 408px;
	border-radius: 20px;
	background-color: #464a70;
	padding: 20px;
}
.announcements-twitter__app {
	border-radius: 20px;
	width: 100%;
	height: 100%;
	background-color: #ffffff;
}
/*ANNOUNCEMENTS END*/

/*SOCIAL MEDIA*/
.contacts {
	padding-bottom: 138px;
}
.social-media {
	display: flex;
	justify-content: center;
	margin: 0 auto;
}
.social-media__element {
	width: 50px;
	height: 50px;
	margin-right: 10px;
	background-color: #7ac143;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.social-media__element:last-child {
	margin-right: 0px;
}
/*SOCIAL MEDIA END*/

/*TRADE PAGE*/

/*DECORATIONS*/
.trade__decoration img {
	position: absolute;
	z-index: -1;
}
#sky-blue2 {
	width: 975px;
	height: auto;
	top: 0px;
	right: -88px;
	/*left: 1035px;*/
}
#kitty-saturn {
	width: 623px;
	height: auto;
	top: 159px;
	right: 396px;
	/*left: 899px;*/
}
/*DECORATIONS END*/

/*SWAP*/
#sky-blue2, 
#kitty-saturn {
	/*display: none;*/
}
.trade {
	padding-top: 141px;
	padding-bottom: 164px;
}
.trade-swap {
	display: none;
	/*display: flex;*/
	flex-direction: column;
}
.trade-select {
	display: flex;
	align-items: center;
}
.trade-select span {
	cursor: pointer;
	font-size: 16px;
	font-weight: 700;
	line-height: 26px;
	text-transform: uppercase;
	letter-spacing: 3.52px;
	padding: 0px 18px;
	font-family: 'Nunito Sans', sans-serif;
}
.trade-select__active {
	border: 2px solid #7ac143;
	border-radius: 0 15px 15px 17px;
}
.trade-title {
	font-weight: 900;
	font-size: 85px;
	line-height: 86px;
	padding-bottom: 6px;
	margin-right: 14px;
}
.trade-head {
	display: flex;
	align-items: center;
	padding-top: 7px;
}
.trade-head button {
	width: 44px;
	height: 44px;
	margin-right: 10px;
}
.trade-settings__button {
	background: url("../img/trade-settings.png") no-repeat 100% 100%/100%;
	margin-right: 10px;
}
.trade-transactions__button {
	background: url("../img/trade-transactions.png") no-repeat 100% 100%/100%;
}
.trade-subtitle {
	font-family: "Nunito Sans", sans-serif;
	font-size: 22px;
	font-weight: 700;
	margin-bottom: 27px;
	display: inline-block;
}
.exchange-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 490px;
}
.exchange-field {
	width: 100%;
	height: 85px;
	box-shadow: inset 2px 2px 5px #111328;
	border-radius: 20px;
	background-color: #464a70;
	position: relative;
	overflow: hidden;
	display: flex;
	align-items: center;
}
.exchange-field input {
	width: 100%;
	background: transparent;
	border: none;
	outline: none;
	font-family: "Nunito Sans", sans-serif;
	font-size: 26px;
	font-weight: 700;
	color: #7ac143;
}
.exchange-field input::placeholder {
	font-size: 26px;
	font-weight: 700;
	color: #7ac143;
}
.token-field input {
	padding: 33px 151px 33px 31px;
}
.token-select {
	cursor: pointer;
	position: absolute;
	right: 28px;
	display: flex;
	align-items: center;
}
.token-image {
	margin-right: 10px;
	width: 24px;
	height: 24px;
}
.token-select__button {
	position: relative;
	font-size: 18px;
	line-height: 25px;
	padding-right: 20px;
}
.currency-field input {
	padding: 33px 220px 33px 31px;
}
.currency-select {
	cursor: pointer;
	position: absolute;
	right: 28px;
	font-size: 18px;
	font-weight: 700;
	padding-right: 20px;
}
.swap-arrow {
	width: 25px;
	height: 26px;
	margin: 10px 0;
}
.unlock-wallet__button {
	font-family: "Nunito Sans", sans-serif;
	line-height: 39px;
	font-size: 18px;
	font-weight: 700;
	width: 285px;
	height: 69px;
	background-color: #7ac143;
}
.exchange-form .unlock-wallet__button {
	margin-top: 27px;
}
/*SWAP END*/

/*LIQUIDITY*/
#sky-green2, 
#kitty-donut {
	display: none;
}
#sky-green2 {
	width: 975px;
	height: auto;
	top: 0;
	right: -8px;
	/*left: 955px;*/
}
#kitty-donut {
	width: 398px;
	height: auto;
	top: 189px;
	right: 524px;
	/*left: 1003px;*/
}
.trade-liquidity {
	display: none;
	/*display: flex;*/
	flex-direction: column;
}
.trade-liquidity__button {
/*	width: 285px;
	height: 69px;
	background-color: #7ac143;
	font-size: 18px;
	font-weight: 700;
	font-family: "Nunito Sans", sans-serif;
	line-height: 69px;*/
	margin-bottom: 27px;
}
.liquidity-info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-left: 25px;
	padding-bottom: 39px;
}
.liquidity-info span {
	font-family: "Nunito Sans", sans-serif;
	font-weight: 700;
}
.liquidity-info__your {
	margin-bottom: 20px;
	letter-spacing: 0.72px;
	position: relative;
}
.prompt-button {
	cursor: pointer;
	position: absolute;
	right: -25px;
	top: 46%;
	transform: translateY(-50%);
	width: 16px !important;
	height: 16px !important;
	background: url(../img/promptIcon.svg) no-repeat 100% 100%/100%;
	text-align: center;
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 700;
	line-height: 19px;
	font-size: 13px;
	color: black;
}
.liquidity-info__prompt {
	color: #7b7fa0;
}
.liquidity-prompt {
	font-size: 15px;
	letter-spacing: 0.52px;
}
/*LIQUIDITY END*/

/*LIQUIDITY ADD*/
.trade-liquidity-add {
	display: none;
	/*display: flex;*/
	flex-direction: column;
}
.trade-liquidity-add .trade-title {
	margin-right: 0;
	font-size: 68px;
	padding-left: 40px;
	padding-bottom: 23px;
	position: relative;
}
.trade-liquidity-add .trade-title:before {
	content: ' ';
	position: absolute;
	left: 0;
	top: 40%;
	transform: translateY(-50%);
	background: url("../img/arrow-back.png") no-repeat 100% 100%/100%;
	width: 26px;
	height: 25px;
}
.trade-liquidity-add .trade-title .prompt-button {
	right: -35px;
	top: 38%;
}
.liquidity-plus {
	width: 21px;
	height: 21px;
	margin: 12px 0;
}
/*LIQUIDITY ADD END*/

/*POPUP SETTINGS*/
.popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.popup-background {
	cursor: pointer;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: #030104;
	opacity: 0.5;
}
.popup-window {
	position: fixed;
	z-index: 2;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 490px;
	box-shadow: 0 0 38px rgba(21, 23, 25, 0.73);
	border-radius: 20px;
	background-color: #202342;
}
.popup-title {
	font-size: 42px;
	color: #1ac4ff;
	font-weight: 900;
	position: relative;
}
.popup-text {
	font-size: 22px;
	font-weight: 700;
}
.popup-settings__option {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-bottom: 36px;
}
.popup-settings__option:last-child {
	padding-bottom: 0px;
}
.popup-head {
	padding: 45px 30px 15px 30px;
	border-bottom: 1px solid #282b4b;
}
.popup-body {
	display: flex;
	flex-direction: column;
	padding: 30px 30px;
}
.popup-settings .popup-text {
	margin-bottom: 25px;
	position: relative;
}
.slippage-tolerance__procent {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.slippage-tolerance__procent__value {
	padding: 2px 16px;
	display: inline-block;
	font-size: 16px;
	font-weight: 700;
	font-family: 'Nunito Sans', sans-serif;
}
.active-value {
	border: 2px solid #7ac143;
	border-radius: 0 15px 15px 17px;
}
.popup-input {
	display: flex;
	align-items: center;
	width: 100px;
	height: 34px;
	background-color: #464a70;
	border-radius: 10px;
	box-shadow: inset 1px 1px 4px #111328;
}
.popup-input input {
	width: 100px;
	height: 100%;
	padding: 0 12px;
	margin-right: 10px;
	color: #7ac143;
	font-size: 16px;
	font-family: "Nunito Sans", sans-serif;
	line-height: 39px;
	background-color: transparent;
	border: 0;
	outline: 0;
}
.popup-input input::placeholder {
	color: #7ac143;
}
.slippage-tolerance__procent .popup-input {
	margin-right: 30px;
	margin-left: 20px;
}
.popup-close {
	position: absolute;
	top: 21px;
	right: 21px;
	width: 17px;
	height: 17px;
	background: url("../img/popup-closeIcon.png") no-repeat 100% 100%/100%;
}
.popup-button {
	width: 207px;
	height: 50px;
	background-color: #7ac143;
	font-size: 16px;
	line-height: 39px;
	font-family: "Nunito Sans", sans-serif;
	font-weight: 700;
}
.popup-transactions .popup-text {
	font-size: 20px;
	line-height: 32px;
}
.popup-transactions .popup-body {
	align-items: center;
}
.popup-transactions .popup-button {
	margin-top: 30px;
}

.popup-token .popup-body {
	padding: 35px 30px;
}
.popup-token .popup-input {
	width: 100%;
	height: 60px;
}
.popup-token .popup-input input {
	width: 100%;
	padding: 10px 22px;
	font-family: "Nunito Sans", sans-serif;
	font-size: 16px;
	font-weight: 800;
	text-transform: uppercase;
}
.popup-token .popup-input input::placeholder {
	color: #7b7fa0;
	font-family: "Nunito Sans", sans-serif;
	font-size: 17px;
	font-weight: 800;
	text-transform: none;
}
.popup-token__sort {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 22px 0px;
}
.popup-token__sort__button {
	background: url("../img/token-sortIcon.png") no-repeat 100% 100%/100%;
	width: 14px;
	height: 15px;
	margin-right: 10px;
}
.popup-token__list {
	display: flex;
	flex-direction: column;
	max-height: 256px;
	overflow-y: scroll;
}
.popup-token__list li {
	text-transform: uppercase;
	padding: 15px 0;
	display: flex;
	align-items: center;
	font-size: 16px;
	cursor: pointer;
}
.popup-token__list img {
	margin-right: 17px;
}

.popup-settings,
.popup-transactions,
.popup-token {
	display: none;
}
.popup-active {
	display: flex;
}
/*POPUP SETTINGS END*/

/*TRADE PAGE END*/

/*FARMS*/
.starky-farms {
	padding-top: 116px;
}
.starky-farms h1 {
	width: 520px;
	font-size: 65px;
	margin-bottom: 19px;
	line-height: 67px;
}
.starky-farms p.subtitle {
	font-size: 22px;
	font-family: "Nunito Sans", sans-serif;
	font-weight: 800;
	margin-bottom: 27px;
}
.stake-options {
	display: flex;
}

/*SWITCH*/
.onoffswitch {
	position: relative; 
	width: 52px;
	-webkit-user-select:none; 
	-moz-user-select:none; 
	-ms-user-select: none;
}
.onoffswitch-checkbox {
	position: absolute;
	opacity: 0;
	pointer-events: none;
}
.onoffswitch-label {
	display: block; 
	overflow: hidden; 
	cursor: pointer;
	border-radius: 15px;
}
.onoffswitch-inner {
	display: block; 
	width: 200%; 
	margin-left: -100%;
	transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
	display: block; 
	float: left; 
	width: 50%; 
	height: 29px; 
	padding: 0; 
	line-height: 29px;
	font-size: 14px; 
	color: white; 
	font-family: Trebuchet, Arial, sans-serif; 
	font-weight: bold;
	box-sizing: border-box;
}
.onoffswitch-inner:before {
	content: "";
	padding-left: 10px;
	background-color: #464a70; 
	/*background-color: #7AC143; */
	color: #FFFFFF;
}
.onoffswitch-inner:after {
	content: "";
	padding-right: 10px;
	background-color: #464A70; 
	color: #464a70;
	text-align: right;
}
.onoffswitch-switch {
	display: block; 
	width: 23px; 
	margin: 3px;
	background: #7AC143;
	position: absolute; 
	top: 0; 
	bottom: 0;
	right: 23px;
	border-radius: 15px;
	transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
	margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
	right: 0px; 
}
/*SWITCH END*/

.staked-only {
	display: flex;
	align-items: center;
	margin-right: 30px;
}
.staked-only .onoffswitch {
	margin-right: 10px;
}

.option-active {
	border: 2px solid #7ac143;
	border-radius: 0 15px 15px 17px;
}
.stake-state__button {
	cursor: pointer;
	font-size: 16px;
	font-weight: 700;
	line-height: 26px;
	text-transform: uppercase;
	letter-spacing: 3.52px;
	padding: 0px 18px;
	font-family: 'Nunito Sans', sans-serif;
}

.starky-tokens {
	display: flex;
	padding-top: 70px;
	padding-bottom: 70px;
}
.starky-tokens__unit {
	display: flex;
	flex-direction: column;
	background-color: #323559;
	border-radius: 15px;
	width: 357px;
	margin-bottom: 30px;
}
.starky-tokens__unit__head {
	display: flex;
	flex-direction: column;
	padding: 28px 20px 20px 20px;
}
.starky-tokens__unit__body {
	display: flex;
	flex-direction: column;
	padding: 21px 20px 30px 20px;
	background-color: #464a70;
}
.starky-tokens__unit-title {
	font-size: 22px;
	font-family: "Nunito Sans";
	font-weight: 800;
	line-height: 35px;
	padding-bottom: 4px;
}
.starky-tokens__unit-features {
	display: flex;
	align-items: center;
}
.starky-tokens__unit-features span {
	margin-right: 10px;
}
.starky-tokens__unit-features span:last-child {
	margin-right: 0px;
}
.starky-tokens__unit-info__part span {
	font-family: "Nunito Sans", sans-serif;
	font-size: 18px;
	font-weight: 400;
}
.starky-tokens__unit-harvest__info span,
.starky-tokens__unit-staked span {
	font-size: 20px;
	font-weight: 700;
}
.starky-tokens__unit-harvest button,
.starky-tokens__unit-staked button {
	width: 285px;
	height: 61px;
	font-size: 18px;
}
.starky-tokens__unit-harvest button {
	background-color: #1ac4ff;
}
.starky-tokens__unit-staked button {
	background-color: #7ac143;
}
.starky-tokens__unit-harvest,
.starky-tokens__unit-staked {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.starky-tokens__unit-harvest__info {
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.starky-tokens__unit-info__part {
	display: flex;
	justify-content: space-between;
	margin-bottom: 13px;
}
.starky-tokens__unit-info__value__deposit-fee {
	color: #7ac143;
	font-weight: 800 !important;
	font-size: 24px !important;
}
.starky-tokens__unit-info__part__token .starky-tokens__unit-info__value {
	text-transform: uppercase;
}
.starky-tokens__unit-info__part__apr .starky-tokens__unit-info__value {
	position: relative;
}
.starky-tokens__unit-info__part__apr .starky-tokens__unit-info__value:before {
	content: ' ';
	position: absolute;
	background: url("../img/aprIcon.png") no-repeat 100% 100%/100%;
	width: 15px;
	height: 15px;
	left: -20px;
}
.starky-tokens__unit-harvest__title,
.starky-tokens__unit-staked__text {
	text-transform: uppercase;
}
.starky-tokens__unit-harvest {
	padding-top: 19px;
}
.starky-tokens__unit-harvest__info {
	margin-bottom: 20px;
}
.starky-tokens__unit-staked {
	padding-top: 29px;
}
.starky-tokens__unit-staked__text {
	display: inline-block;
	margin-bottom: 16px;
	width: 100%;
}
.starky-tokens .container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
}
.starky-tokens__unit-features__first {
	width: 104px;
	height: 25px;
	border-radius: 13px;
	border: 2px solid #7ac143;
	padding-left: 31px;
	position: relative;
	color: #7ac143;
	font-family: "Nunito Sans", sans-serif;
	font-size: 16px;
	font-weight: 700;
	line-height: 22px;
}
.starky-tokens__unit-features__first:before {
	content: " ";
	background: url(../img/nofees-icon.png) no-repeat 100% 100%/100%;
	width: 15px;
	height: 15px;
	left: 6px;
	top: 3px;
	position: absolute;
}
.starky-tokens__unit-features__coef {
	padding: 0 12px;
	height: 25px;
	border-radius: 13px;
	background-color: #1ac4ff;
	color: #faf9fa;
	font-family: "Nunito Sans", sans-serif;
	font-size: 16px;
	font-weight: 700;
	line-height: 25px;
	text-align: center;
}
.starky-tokens__unit__details {
	position: relative;
}
.starky-tokens__unit__details-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-items: center;
	padding: 30px 20px 30px 20px;
}

.starky-tokens__unit__details__block {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding-bottom: 0px;
	overflow: hidden;
	max-height: 0;
	height: 100%;
	transition: 0.4s;
}
.starky-tokens__unit__details__element {
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.starky-tokens__unit__details__element span {
	font-family: "Nunito Sans", sans-serif;
	font-size: 18px;
	font-weight: 700;
	line-height: 34px;
}
.starky-tokens__unit__details__element__deposit .starky-tokens__unit__details__value {
	padding-right: 19px;
	position: relative;
}
.starky-tokens__unit__details__element__deposit .starky-tokens__unit__details__value:before {
	content: " ";
	position: absolute;
	background: url("../img/depositIcon.png") no-repeat 100% 100%/100%;
	width: 13px;
	height: 13px;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}
.starky-tokens__unit__details__element__total {
	font-weight: 700;
}
.starky-tokens__unit__details__link {
	color: #7ac143;
	text-decoration: underline;
}
.starky-tokens__unit__details__status {
	color: #7b7fa0;
	font-family: "Nunito Sans", sans-serif;
	font-size: 18px;
	font-weight: 700;
	line-height: 18px;
	/*line-height: 34px;*/
	position: relative;
	padding-right: 12px;
	cursor: pointer;
}
.starky-tokens__unit__details__status:before {
	content: ' ';
	position: absolute;
	width: 8px;
	height: 4px;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	background: url("../img/arrowGrayDown.png");
}
.unit__details__status__open:before {
	background: url("../img/arrowGrayTop.png") !important;
}
.details-block__close {
	max-height: 200px;
	padding: 0;
	padding-bottom: 30px;
}
.unit__details__status-hide {
	display: none;
}


/*FARMS END*/