@font-face {
	font-family: "MuseoSansCyrl";
	src: url("../fonts/MuseoSansCyrl.otf");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "MuseoSansCyrl0";
	src: url("../fonts/MuseoSansCyrl0.otf");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "MuseoSansCyrl1";
	src: url("../fonts/MuseoSansCyrl1.otf");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "MuseoSansCyrl2";
	src: url("../fonts/MuseoSansCyrl2.otf");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "MuseoSansCyrl3";
	src: url("../fonts/MuseoSansCyrl3.otf");
	font-weight: normal;
	font-style: normal;
}