@font-face {
	font-family: "Open Sans";
	src: url("../fonts/OpenSans/OpenSans-Bold.eot");
	src: url("../fonts/OpenSans/OpenSans-Bold.eot?#iefix") format("embedded-opentype"),
			 url("../fonts/OpenSans/OpenSans-Bold.woff") format("woff"),
			 url("../fonts/OpenSans/OpenSans-Bold.ttf") format("truetype");
	font-style: normal;
	font-weight: bold;
}
