* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 10px;
}

*::-webkit-input-placeholder {
    color: #666;
    opacity: 1;
}

*:-moz-placeholder {
    color: #666;
    opacity: 1;
}

*::-moz-placeholder {
    color: #666;
    opacity: 1;
}

*:-ms-input-placeholder {
    color: #666;
    opacity: 1;
}

html,
body {
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow: hidden;
    display: flex;
}

/*SETTINGS*/

span.page-counter {
    position: absolute;
    right: 31px;
    bottom: 22px;
    font-size: 24px;
}

.page {
    width: 100%;
    height: 100%;
}

.horizon-prev,
.horizon-next {
    position: fixed;
    top: 50%;
    margin-top: -25px;
    z-index: 9999;
    cursor: pointer;
    -webkit-animation: arrownext 1s infinite 0s linear;
    animation: arrownext 1s infinite 0s linear;
}

.horizon-prev img,
.horizon-next img {
    width: 46px;
    height: 85px;
}

.horizon-prev {
    left: 20px;
}

.horizon-next {
    right: 20px;
}

@-webkit-keyframes arrownext {

    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    50% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes arrownext {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    50% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

/*SETTINGS END*/
body input:focus:required:invalid,
body textarea:focus:required:invalid {}

body input:required:valid,
body textarea:required:valid {}

body {
    font-size: 16px;
    position: relative;
    line-height: 1.6;
    background-color: #211e1f;
    font-family: Open Sans  ;
    color: #fff;
    font-weight: bold;

}

.hover {
    display: none;
}

/*PRELOADER*/
.loader {
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    z-index: 9999999;
    background: #211e1f;
    top:0;
    bottom:0;
}
.loader_inner i {
    font-size: 60px;
}
.fa-heart-o {-webkit-animation: heart 1s linear infinite;animation: heart 1s linear infinite;}

@-webkit-keyframes heart {
  0% {-webkit-transform: scale(1);transform: scale(1);}
  15% {-webkit-transform: scale(1.3);transform: scale(1.3);}
  30% {-webkit-transform: scale(1);transform: scale(1);}
  45% {-webkit-transform: scale(1.3);transform: scale(1.3);}
  60% {-webkit-transform: scale(1);transform: scale(1);} 
}

@keyframes heart {
  0% {-webkit-transform: scale(1);transform: scale(1);}
  15% {-webkit-transform: scale(1.3);transform: scale(1.3);}
  30% {-webkit-transform: scale(1);transform: scale(1);}
  45% {-webkit-transform: scale(1.3);transform: scale(1.3);}
  60% {-webkit-transform: scale(1);transform: scale(1);} 
}

/*PRELOADER END*/



/*Typed js*/
.typed-cursor {
    font-size: 25px;
    line-height: 25px;
    opacity: 1;
    font-weight: 100;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    -ms-animation: blink 0.7s infinite;
    -o-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*Typed js end*/



/*HOME*/
.boss img.boss-image {
    width: 181px;
    height: 264px;
    position: absolute;
    bottom: 5px;
    left: 17%;
}

.boss img.boss-image.hover {
    -webkit-animation: bosshover 0.9s infinite 0s linear;
    animation: bosshover 0.9s infinite 0s linear;
    width: 42px;
    height: 28px;
    position: absolute;
    top: 49px;
    left: 49%;
}

@-webkit-keyframes bosshover {
    0% {
        -webkit-transform: skewX(0);
        transform: skewX(0);
    }

    25% {
        -webkit-transform: skewX(5deg) rotate(10deg);
        transform: skewX(5deg) rotate(10deg);
    }

    79% {
        -webkit-transform: skewX(-5deg) rotate(-10deg);
        transform: skewX(-5deg) rotate(-10deg);
    }

    100% {
        -webkit-transform: skewX(0deg) skewY(0deg);
        transform: skewX(0deg) skewY(0deg);
    }
}

@keyframes bosshover {
    0% {
        -webkit-transform: skewX(0);
        transform: skewX(0);
    }

    25% {
        -webkit-transform: skewX(5deg) rotate(10deg);
        transform: skewX(5deg) rotate(10deg);
    }

    79% {
        -webkit-transform: skewX(-5deg) rotate(-10deg);
        transform: skewX(-5deg) rotate(-10deg);
    }

    100% {
        -webkit-transform: skewX(0deg) skewY(0deg);
        transform: skewX(0deg) skewY(0deg);
    }
}



button.draw {
    outline: 0;
    background: none;
    border: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 1em;
    padding: 1em 2em;
    -webkit-box-shadow: inset 0 0 0 5px #fff;
    box-shadow: inset 0 0 0 5px #fff;
    color: #f45e61;
    font-size: inherit;
    font-weight: 700;
    position: relative;
    vertical-align: middle;
}

.draw {
    -webkit-transition: color 0.25s;
    -o-transition: color 0.25s;
    transition: color 0.25s;
}

.draw::before,
.draw::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;

    border: 5px solid transparent;
    width: 0;
    height: 0;
}

.draw::before {
    top: 0;
    left: 0;
}

.draw::after {
    bottom: 0;
    right: 0;
}

.draw:hover {
    color: limegreen;
}

.draw:hover::before,
.draw:hover::after {
    width: 100%;
    height: 100%;
}

.draw:hover::before {
    border-top-color: limegreen;
    border-right-color: limegreen;
    -webkit-transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
    -o-transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
    transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}

.draw:hover::after {
    border-bottom-color: yellow;
    border-left-color: yellow;
    -webkit-transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
    -o-transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
    transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
}



.boss-border {
    position: relative;
    margin: 0 auto;
    width: 260px;
    height: 277px;
    z-index: 100;
    cursor: pointer;
    background-image: url("../img/dollar.png");
    background-size: 4%;
}

.boss-border img.money {
    z-index: 100;
    top: 5px;
    left: 20px;
    position: absolute;
    width: 35px;
    height: 60px;
    z-index: -1;
    /*animation: money 2s infinite 0s linear;*/
}

@-webkit-keyframes money {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes money {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

section {
    float: left;
    display: block;
    height: 100vh;
    padding: 0;
    margin: 0;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
}


.home {
    position: relative;
}

.home .name {
    position: relative;
}

.home .front-end {
    position: relative;
    line-height: 100px;
}

.home .developer {
    position: relative;
}




svg {
    height: 120px;
    display: block;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    background: #211e1f;
}

text {
    -webkit-filter: url(#filter);
    filter: url(#filter);
    fill: #fff;
    font-size: 70px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.home h1 {
    font-size: 145px;
}

.home h1.shadow-text {
    top: -10px;
    left: -15px;
}



.home h2 {
    margin-top: -10px;
    font-size: 60px;
    text-transform: uppercase;
    margin-bottom: -20px;
}

.home h2.shadow-text {
    top: -7px;
    left: -10px;
}

.home h3 {
    font-size: 30px;
    text-transform: uppercase;
    line-height: 50px;
}

.home h3.shadow-text {
    top: -7px;
    left: -8px;
}



.shadow-text {
    position: absolute;
    opacity: 0.11;
    width: 100%;
    -webkit-animation: bgtext 5s infinite 0s linear;
    animation: bgtext 5s infinite 0s linear;
}

@-webkit-keyframes bgtext {
    0% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }

    49% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }

    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
}

@keyframes bgtext {
    0% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }

    49% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }

    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
}


/*HOME END*/

/* PROJECTS */
.projects {
    position: relative;
}

.title-block {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 40px;
}

span.title,
.typed {
    font-size: 42px;
    text-transform: uppercase;
    line-height: 40px;
}

span.text-shadow {
    position: absolute;
    top: -5px;
    margin-left: -5px;
    opacity: 0.22;
}

.projects-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
}

.projects-slider {
    max-width: 600px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.slick-prev,
.slick-next {
    width: 30px;
    height: 40px;
}

.slick-initialized .slick-slide {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}



a.project {
    display: block;
    border: 5px solid white;
    width: 500px;
    height: 400px;
    overflow: hidden;
    position: relative;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

a.project span.image-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 20px;
    height: 100%;
    width: 100%;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
}

.project:hover {
    background-color: #222;
    /*transform: scale(1.01);*/
}

.project img:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    opacity: 0.5;
}

.project img {
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    width: 100%;
    height: 100%;
}

.project {
    background-image: url("../img/dollar.png");
    background-size: 1%;
}

.project7 img {
    background-image: url("../img/dollar.png");
    background-size: 5%;
}

/* PROJECTS END */

/*ABOUT ME*/
.skill-block {
    position: relative;
}

.skillbar-content {
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.skillbar {
    position: relative;
    display: inline-block;
    margin: 3px 0;
    background: #eee;
    height: 54px;
    width: 430px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 170px;
}

.skillbar-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 172px;
    font-weight: bold;
    font-size: 22px;
    color: #ffffff;
    background: #6adcfa;
    background: rgba(0, 0, 0, 0.1);
    padding: 0px 10px;
    height: 55px;
    line-height: 55px;
}

.skillbar-bar {
    height: 55px;
    width: 0px;
    background: #6adcfa;
    display: inline-block;
}

.skill-bar-percent {
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 22px;
    height: 55px;
    line-height: 55px;
    color: #ffffff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

/*ABOUT ME END*/

/*COMMENTS*/
.comments {
    position: relative;
}

.comments-content {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.comments-slider {
    margin: 0 -15px !important;
}

.comments-slide {
    margin: 15px !important;
}

.comments-slider {
    max-width: 600px;
    width: 100%;
}

.comments .slick-next {
    right: -60px;
}

.comments .slick-prev {
    left: -60px;
}

.comments-slide {
    max-width: 600px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.comments-slide span {
    font-size: 18px;
}

.comments .slick-slide {
    outline: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    text-align: left;
}

.comments-slide_top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.comments-slide_top_right {
    margin-left: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.comments-slide_bottom {
    margin-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

span.comments-slide_bottom_name-project {
    border-left: 5px solid #333;
    padding-left: 5px;
    line-height: 1.2em;
    height: 31px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

span.comments-slide_bottom_comment {
    border-left: 5px solid #444;
    padding-left: 5px;
    line-height: 1.2em;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: normal;
    font-size: 16px;
    color: lightgray;
}

.comments-slide img {
    width: 120px;
    height: 120px;
}
.comments .slick-prev,
.comments .slick-next {
    margin-top: -20px;
}
/*COMMENTS END*/

/*CONTACTS*/
.contacts {
    position: relative;
}

.contacts a {
    margin-right: 150px;
}

.contacts a:last-child {
    margin-right: 0;
}

.contacts img:hover {
    opacity: 0.5;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.contacts img {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    width: 100px;
    height: 100px;
    border-radius: 5px;
}

/*CONTACTS END*/